<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Privilege</title>
</head>
<body>
    <h1>User <%= username %> has the privilege <%= privilege %></h1>
    <a href="/">Back</a>
</body>
</html>
